html, body{
    margin: 0;
    padding: 0;
}

// Override
*{
    font-family: 'Century Gothic';
}
.app-main{
    height: 100vh;
    background: red;

    // Layout
    display: grid;
    place-items: center;

    @import "./home.scss";
    @import "./todolist.scss";

}

.textStrike {
    text-decoration: line-through;
}
